h2 {
    color: rgb(25, 31, 25);
}

body {
    background-color:  rgb(233, 243, 233);
    padding: 0.5em;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0.5em;
}

table {
    display: table;
    width: 100%;
    border-color: rgba(169, 169, 169, 0.76);
    border-style: hidden;
    box-shadow: 0 0 0 0.025em;
    border-radius: 0.25em;
    border-collapse: collapse;
    background-color: #f0f0b08e;
}

th, td {
    border: 0.02em;
    border-style: solid;
    border-color: rgba(169, 169, 169, 0.76);
    padding: 0.4em;
    
}

th {
    background-color: #f0f0b0;
}

td {
    background-color: #f0f0b08e;
}

button {
    background-color: #f0f0b0;
}

.mainDiv {
    padding: 0.5em;
    margin: 0.25em;
    background-color: rgba(255, 255, 255, 0.719);
    border-style: solid;
    border-color: rgba(169, 169, 169, 0.76);
    border-width: 0.05em;
    border-radius: 0.5em;
}


a:link, a:visited {
    background-color: #e4e4b1d5;
    color: rgba(19, 19, 19, 0.89);
    display: inline-block;
    width: 95%;
    padding: 0.2em;
    text-decoration: none;
    border-radius: 0.5em;
}
  
a:hover, a:active {
    background-color: #ffff7e48;
    text-decoration: underline;
    border-radius: 0.25em;
}


